/* Обнуление стилей для HTML элементов */
html,
body {
  height: 100%;
  margin: 0;
}
/* Убираем отступы и поля по умолчанию */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

/* Убираем маркеры у списков */
ul,
ol {
  list-style: none;
}

/* Убираем подчеркивание у ссылок */
a {
  text-decoration: none;
}

/* Обнуляем границы у изображений и других элементов */
img,
button,
input {
  border: none;
}

/* Устанавливаем шрифт по умолчанию */
body {
  font-family: Arial, sans-serif;
}

/* Добавляем курсор-стрелку для кликабельных элементов */
button,
a {
  cursor: pointer;
}
